{#
    Navbar.
#}

<ul class="nav justify-content-start ml-4 mt-3">

	<li class="nav-item pl-2">
		<a href="{{ url('homepage') }}" class="navbar-brand">
			{{ 'title_app'|trans }}
		</a>
	</li>
	{% if is_granted('ROLE_USER') %}
		<li class="nav-item">
			<a href="{{ url('project_index') }}" class="navbar-brand pl-2">
				{{ 'title_project_list'|trans }}
			</a>
		</li>
	{% endif %}

	<li class="nav-item ml-4 pl-2">
		<a href="{{ url('about') }}" class="navbar-brand">
			{{ 'title_about'|trans }}
		</a>
	</li>

	<li class="nav-item ml-4 pl-2">
		<a href="{{ url('info') }}" class="navbar-brand">
			{{ 'title_info'|trans }}
		</a>
	</li>

	<li class="nav-item ml-auto">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="nav-link" href="{{ url('app_logout') }}" class="">
				{{ 'action_logout'|trans }}
			</a>
		{% else %}
			<a class="nav-link" href="{{ url('app_login') }}" class="">
				{{ 'action_login'|trans }}
			</a>
		</li>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ url('app_register') }}" class="">
			{{ 'action_register'|trans }}
		</a>
	{% endif %}
	{% if is_granted('ROLE_USER') %}
		<li class="nav-item">
			<a href="{{url('user_show') }}" class="nav-link" title="{{ 'user_account'|trans }}">
				{{ 'user_account'|trans }}
			</a>
		</li>
	{% endif %}
</li></ul>
