<div class="content" style="background-color: {{ project.darkShades }}">
	<div class="left">
		<div class="left__top">
			<div class="logo">
				<p style="color: {{ project.lightShades }}">maleada</p>
			</div>
		</div>
		<div class="left__bottom">
			<div class="graphic-element">
				<svg width="659" height="578" viewbox="0 0 659 578" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="616.108" y="41.8613" width="209.319" height="23.6964" transform="rotate(90 616.108 41.8613)" fill="{{ project.darkAccent }}"/>
					<rect x="379.378" y="77.3804" width="162.8" height="23.9339" transform="rotate(90 379.378 77.3804)" fill="{{ project.darkAccent }}"/>
					<rect x="339.887" y="91.3696" width="164.585" height="23.9339" transform="rotate(90 339.887 91.3696)" fill="{{ project.darkAccent }}"/>
					<rect x="576.834" y="29.3691" width="201.976" height="23.9339" transform="rotate(90 576.834 29.3691)" fill="{{ project.darkAccent }}"/>
					<rect x="652.226" y="61.5503" width="201.976" height="23.9339" transform="rotate(90 652.226 61.5503)" fill="{{ project.darkAccent }}"/>
					<rect x="537.343" y="21.2207" width="197.189" height="23.9339" transform="rotate(90 537.343 21.2207)" fill="{{ project.darkAccent }}"/>
					<rect x="394.936" y="211.468" width="150.179" height="23.9339" transform="rotate(-90 394.936 211.468)" fill="{{ project.darkAccent }}"/>
					<rect x="434.427" y="198.216" width="153.335" height="23.9339" transform="rotate(-90 434.427 198.216)" fill="{{ project.darkAccent }}"/>
					<rect x="473.917" y="209.259" width="179.837" height="23.9339" transform="rotate(-90 473.917 209.259)" fill="{{ project.darkAccent }}"/>
					<rect x="38.1174" y="540.56" width="209.319" height="23.6964" transform="rotate(-90 38.1174 540.56)" fill="{{ project.darkAccent }}"/>
					<rect x="274.847" y="505.041" width="162.8" height="23.9339" transform="rotate(-90 274.847 505.041)" fill="{{ project.darkAccent }}"/>
					<rect x="314.338" y="491.051" width="164.585" height="23.9339" transform="rotate(-90 314.338 491.051)" fill="{{ project.darkAccent }}"/>
					<rect x="77.3918" y="553.052" width="201.976" height="23.9339" transform="rotate(-90 77.3918 553.052)" fill="{{ project.darkAccent }}"/>
					<rect x="2" y="520.871" width="201.976" height="23.9339" transform="rotate(-90 2 520.871)" fill="{{ project.darkAccent }}"/>
					<rect x="116.883" y="561.2" width="197.189" height="23.9339" transform="rotate(-90 116.883 561.2)" fill="{{ project.darkAccent }}"/>
					<rect x="259.29" y="370.953" width="150.179" height="23.9339" transform="rotate(90 259.29 370.953)" fill="{{ project.darkAccent }}"/>
					<rect x="219.799" y="384.205" width="153.335" height="23.9339" transform="rotate(90 219.799 384.205)" fill="{{ project.darkAccent }}"/>
					<rect x="180.309" y="373.162" width="179.837" height="23.9339" transform="rotate(90 180.309 373.162)" fill="{{ project.darkAccent }}"/>


					<rect x="393.433" y="503.699" width="206.686" height="23.6965" transform="rotate(-90 393.433 503.699)" fill="{{ project.lightAccent }}"/>
					<rect x="353.938" y="495.8" width="173.774" height="23.6965" transform="rotate(-90 353.938 495.8)" fill="{{ project.lightAccent }}"/>
					<rect x="590.903" y="570.838" width="238.281" height="23.6965" transform="rotate(-90 590.903 570.838)" fill="{{ project.lightAccent }}"/>
					<rect x="630.292" y="552.012" width="207.673" height="23.9339" transform="rotate(-90 630.292 552.012)" fill="{{ project.lightAccent }}"/>
					<rect x="630.397" y="577.421" width="233.015" height="23.6965" transform="rotate(-90 630.397 577.421)" fill="{{ project.lightAccent }}"/>
					<rect x="432.927" y="520.812" width="248.813" height="23.6965" transform="rotate(-90 432.927 520.812)" fill="{{ project.lightAccent }}"/>
					<rect x="575.105" y="322.026" width="240.914" height="23.6964" transform="rotate(90 575.105 322.026)" fill="{{ project.lightAccent }}"/>
					<rect x="535.611" y="297.013" width="256.712" height="23.6964" transform="rotate(90 535.611 297.013)" fill="{{ project.lightAccent }}"/>
					<rect x="496.117" y="286.481" width="254.079" height="23.6964" transform="rotate(90 496.117 286.481)" fill="{{ project.lightAccent }}"/>
					<rect x="260.793" y="78.7222" width="206.686" height="23.6965" transform="rotate(90 260.793 78.7222)" fill="{{ project.lightAccent }}"/>
					<rect x="300.287" y="86.6211" width="173.774" height="23.6965" transform="rotate(90 300.287 86.6211)" fill="{{ project.lightAccent }}"/>
					<rect x="63.3225" y="11.582" width="238.281" height="23.6965" transform="rotate(90 63.3225 11.582)" fill="{{ project.lightAccent }}"/>
					<rect x="23.9338" y="30.4092" width="207.673" height="23.9339" transform="rotate(90 23.9338 30.4092)" fill="{{ project.lightAccent }}"/>
					<rect x="23.8286" y="5" width="233.015" height="23.6965" transform="rotate(90 23.8286 5)" fill="{{ project.lightAccent }}"/>
					<rect x="221.299" y="61.6079" width="248.813" height="23.6965" transform="rotate(90 221.299 61.6079)" fill="{{ project.lightAccent }}"/>
					<rect x="79.1204" y="260.395" width="240.914" height="23.6964" transform="rotate(-90 79.1204 260.395)" fill="{{ project.lightAccent }}"/>
					<rect x="118.615" y="285.408" width="256.712" height="23.6964" transform="rotate(-90 118.615 285.408)" fill="{{ project.lightAccent }}"/>
					<rect x="158.109" y="295.94" width="254.079" height="23.6964" transform="rotate(-90 158.109 295.94)" fill="{{ project.lightAccent }}"/>

					<rect x="622.785" y="36.8613" width="208.002" height="23.6964" transform="rotate(90 622.785 36.8613)" fill="{{ project.baseColor }}"/>
					<rect x="385.976" y="71.272" width="162.8" height="23.9339" transform="rotate(90 385.976 71.272)" fill="{{ project.baseColor }}"/>
					<rect x="346.484" y="85.2612" width="164.585" height="23.9339" transform="rotate(90 346.484 85.2612)" fill="{{ project.baseColor }}"/>
					<rect x="583.43" y="23.2607" width="201.976" height="23.9339" transform="rotate(90 583.43 23.2607)" fill="{{ project.baseColor }}"/>
					<rect x="658.822" y="55.4419" width="201.976" height="23.9339" transform="rotate(90 658.822 55.4419)" fill="{{ project.baseColor }}"/>
					<rect x="543.94" y="15.1123" width="197.189" height="23.9339" transform="rotate(90 543.94 15.1123)" fill="{{ project.baseColor }}"/>
					<rect x="401.532" y="205.359" width="150.179" height="23.9339" transform="rotate(-90 401.532 205.359)" fill="{{ project.baseColor }}"/>
					<rect x="441.023" y="192.108" width="153.335" height="23.9339" transform="rotate(-90 441.023 192.108)" fill="{{ project.baseColor }}"/>
					<rect x="480.515" y="203.15" width="179.837" height="23.9339" transform="rotate(-90 480.515 203.15)" fill="{{ project.baseColor }}"/>
					<rect x="305.647" y="81.6211" width="172.458" height="23.6965" transform="rotate(90 305.647 81.6211)" fill="{{ project.baseColor }}"/>
					<rect x="68.6826" y="6.58203" width="236.965" height="23.6965" transform="rotate(90 68.6826 6.58203)" fill="{{ project.baseColor }}"/>
					<rect x="28.9341" y="21.8643" width="210.359" height="23.9339" transform="rotate(90 28.9341 21.8643)" fill="{{ project.baseColor }}"/>
					<rect x="29.1887" width="231.699" height="23.6965" transform="rotate(90 29.1887 0)" fill="{{ project.baseColor }}"/>
					<rect x="266.153" y="73.7222" width="206.686" height="23.6965" transform="rotate(90 266.153 73.7222)" fill="{{ project.baseColor }}"/>
					<rect x="226.659" y="56.6079" width="248.813" height="23.6965" transform="rotate(90 226.659 56.6079)" fill="{{ project.baseColor }}"/>
					<rect x="84.4805" y="254.079" width="239.598" height="23.6964" transform="rotate(-90 84.4805 254.079)" fill="{{ project.baseColor }}"/>
					<rect x="123.975" y="280.409" width="258.028" height="23.6964" transform="rotate(-90 123.975 280.409)" fill="{{ project.baseColor }}"/>
					<rect x="163.469" y="290.94" width="254.079" height="23.6964" transform="rotate(-90 163.469 290.94)" fill="{{ project.baseColor }}"/>
					<rect x="358.175" y="489.8" width="172.458" height="23.6965" transform="rotate(-90 358.175 489.8)" fill="{{ project.baseColor }}"/>
					<rect x="595.139" y="564.838" width="236.965" height="23.6965" transform="rotate(-90 595.139 564.838)" fill="{{ project.baseColor }}"/>
					<rect x="634.888" y="549.557" width="210.359" height="23.9339" transform="rotate(-90 634.888 549.557)" fill="{{ project.baseColor }}"/>
					<rect x="634.634" y="571.421" width="231.699" height="23.6965" transform="rotate(-90 634.634 571.421)" fill="{{ project.baseColor }}"/>
					<rect x="397.669" y="497.699" width="206.686" height="23.6965" transform="rotate(-90 397.669 497.699)" fill="{{ project.baseColor }}"/>
					<rect x="437.163" y="514.812" width="248.813" height="23.6965" transform="rotate(-90 437.163 514.812)" fill="{{ project.baseColor }}"/>
					<rect x="579.342" y="317.342" width="239.598" height="23.6964" transform="rotate(90 579.342 317.342)" fill="{{ project.baseColor }}"/>
					<rect x="539.848" y="291.012" width="258.028" height="23.6964" transform="rotate(90 539.848 291.012)" fill="{{ project.baseColor }}"/>
					<rect x="500.354" y="280.48" width="254.079" height="23.6964" transform="rotate(90 500.354 280.48)" fill="{{ project.baseColor }}"/>
					<rect x="41.0371" y="534.56" width="208.002" height="23.6964" transform="rotate(-90 41.0371 534.56)" fill="{{ project.baseColor }}"/>
					<rect x="277.846" y="500.149" width="162.8" height="23.9339" transform="rotate(-90 277.846 500.149)" fill="{{ project.baseColor }}"/>
					<rect x="317.338" y="486.16" width="164.585" height="23.9339" transform="rotate(-90 317.338 486.16)" fill="{{ project.baseColor }}"/>
					<rect x="80.3918" y="548.161" width="201.976" height="23.9339" transform="rotate(-90 80.3918 548.161)" fill="{{ project.baseColor }}"/>
					<rect x="5" y="515.979" width="201.976" height="23.9339" transform="rotate(-90 5 515.979)" fill="{{ project.baseColor }}"/>
					<rect x="119.883" y="556.309" width="197.189" height="23.9339" transform="rotate(-90 119.883 556.309)" fill="{{ project.baseColor }}"/>
					<rect x="262.29" y="366.063" width="150.179" height="23.9339" transform="rotate(90 262.29 366.063)" fill="{{ project.baseColor }}"/>
					<rect x="222.799" y="379.313" width="153.335" height="23.9339" transform="rotate(90 222.799 379.313)" fill="{{ project.baseColor }}"/>
					<rect x="183.307" y="368.271" width="179.837" height="23.9339" transform="rotate(90 183.307 368.271)" fill="{{ project.baseColor }}"/>
				</svg>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="right__top">
			<div class="navigation">
				<p style="color: {{ project.lightShades }}">sem</p>
				<p style="color: {{ project.lightShades }}">nunc</p>
				<p style="color: {{ project.lightShades }}">quis</p>
				<p style="color: {{ project.lightShades }}">nulla</p>
				<p style="color: {{ project.lightShades }}">non</p>
			</div>
			<div class="navigation__bar--one" style="background-color: {{ project.baseColor }}"></div>
			<div class="navigation__bar--two" style="background-color: {{ project.darkAccent }}"></div>
		</div>
		<div class="right__center">
			<div class="center__bar--one" style="background-color: {{ project.darkAccent }}"></div>
			<div class="center__bar--two" style="background-color: {{ project.baseColor }}"></div>
			<h2 style="color: {{ project.lightShades }}">Ac imperdiet eget</h2>
			<div class="center__bar--three" style="background-color: {{  project.darkAccent }}"></div>
			<div class="center__bar--four" style="background-color: {{ project.baseColor }}"></div>
			<div class="center__bar--five" style="background-color: {{ project.lightAccent }}"></div>
			<div class="center__text" style="color: {{ project.lightShades }}">
				<p >Lorem ipsum dolor, consectetur.</p>
				<p>Nibh magna ut consectetur massa congue eget. Id scelerisque ut diam egestas sagittis venenatis, aliquam varius. Eu consectetur neque elit eu.</p>
			</div>
		</div>
		<div class="right__bottom">
			<div class="social">
				<div class="facebook">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-facebook-square fa-3x"></i>
				</div>
				<div class="instagram">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-instagram fa-3x"></i>
				</div>
				<div class="linkedin">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-linkedin fa-3x"></i>
				</div>
				<div class="twitter">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-twitter-square fa-3x"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://kit.fontawesome.com/ebdd806b2b.js" crossorigin="anonymous"></script>
