<div class="content" style="background-color: {{ project.lightShades }}">

	<div class="top">
		<div class="logo" style="color: {{ project.baseColor }}">
			<p>maleada</p>
		</div>
		<div class="navigation" style="border-color: {{ project.baseColor }};">
			<p style="color: {{ project.darkShades }}">sem</p>
			<p style="color: {{ project.darkShades }}; border-color: {{ project.lightAccent }};">nunc</p>
			<p style="color: {{ project.darkShades }}">quis</p>
			<p style="color: {{ project.darkShades }}">nulla</p>
			<p style="color: {{ project.darkShades }}">non</p>
		</div>
	</div>

	<div class="center">
		<div class="photo"></div>
		<h1 style="color: {{ project.darkShades }}">Felis, feugiat pretium vulputate mauris et magna tellus.</h1>
		<h3 style="color: {{ project.darkShades }}">Lorem ipsum dolor sit amet, consectetur.</h3>

		<div class="element--dark" style="background-color: {{ project.darkAccent }}"></div>
		<div class="element--base" style="background-color: {{ project.baseColor }}"></div>
		<div class="element--light" style="background-color: {{ project.lightAccent }}"></div>


	</div>

	<div class="bottom">
		<div class="social">
			<div class="facebook">
				<i style="color: {{ project.darkShades }}" class="fa-brands fa-facebook-square fa-3x"></i>
			</div>
			<div class="instagram">
				<i style="color: {{ project.darkShades }}" class="fa-brands fa-instagram fa-3x"></i>
			</div>
			<div class="linkedin">
				<i style="color: {{ project.darkShades }}" class="fa-brands fa-linkedin fa-3x"></i>
			</div>
			<div class="twitter">
				<i style="color: {{ project.darkShades }}" class="fa-brands fa-twitter-square fa-3x"></i>
			</div>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/ebdd806b2b.js" crossorigin="anonymous"></script>
