<div class="content" style="background-color: {{ project.lightShades }}">

	<div class="top" style="background-color: {{ project.darkShades}}">

		<div class="hamburger">
			<div class="line" style="background-color: {{ project.baseColor}}"></div>
			<div class="line" style="background-color: {{ project.baseColor}}"></div>
			<div class="line" style="background-color: {{ project.baseColor}}"></div>
		</div>

		<div class="navigation">
			<p style="color: {{ project.lightShades }}">sem</p>
			<p style="color: {{ project.lightShades }}; border-color: {{ project.lightAccent }};">nunc</p>
			<p style="color: {{ project.lightShades }}">quis</p>
			<p style="color: {{ project.lightShades }}">nulla</p>
			<p style="color: {{ project.lightShades }}">non</p>
		</div>

		<div class="search">
			<svg viewbox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M30.4615 18.6154C30.4615 15.3542 29.3025 12.5645 26.9844 10.2464C24.6663 7.92829 21.8766 6.76923 18.6154 6.76923C15.3542 6.76923 12.5645 7.92829 10.2464 10.2464C7.92829 12.5645 6.76923 15.3542 6.76923 18.6154C6.76923 21.8766 7.92829 24.6663 10.2464 26.9844C12.5645 29.3025 15.3542 30.4615 18.6154 30.4615C21.8766 30.4615 24.6663 29.3025 26.9844 26.9844C29.3025 24.6663 30.4615 21.8766 30.4615 18.6154ZM44 40.6154C44 41.5321 43.6651 42.3253 42.9952 42.9952C42.3253 43.6651 41.5321 44 40.6154 44C39.6635 44 38.8702 43.6651 38.2356 42.9952L29.1659 33.9519C26.0104 36.1378 22.4936 37.2308 18.6154 37.2308C16.0946 37.2308 13.6839 36.7416 11.3834 35.7632C9.08293 34.7849 7.09976 33.4627 5.43389 31.7969C3.76803 30.131 2.44591 28.1478 1.46755 25.8474C0.489183 23.5469 0 21.1362 0 18.6154C0 16.0946 0.489183 13.6839 1.46755 11.3834C2.44591 9.08293 3.76803 7.09976 5.43389 5.43389C7.09976 3.76803 9.08293 2.44591 11.3834 1.46755C13.6839 0.489183 16.0946 0 18.6154 0C21.1362 0 23.5469 0.489183 25.8474 1.46755C28.1478 2.44591 30.131 3.76803 31.7969 5.43389C33.4627 7.09976 34.7849 9.08293 35.7632 11.3834C36.7416 13.6839 37.2308 16.0946 37.2308 18.6154C37.2308 22.4936 36.1378 26.0104 33.9519 29.1659L43.0216 38.2356C43.6739 38.8878 44 39.6811 44 40.6154Z" fill="{{ project.baseColor}}"/>
			</svg>
		</div>

	</div>

	<div class="bottom" style="background-color: {{ project.lightShades }}">
		<div class="left">
			<div class="post" style="border-bottom-color: {{ project.baseColor }}">
				<div class="image"></div>
				<h2>Dolor</h2>
				<p>Id magnis tincidunt felis laoreet aliquet orci fermentum. Sagittis, amet, commodo in habitant lectus quis congue.</p>
			</div>
			<div class="post" style="border-bottom-color: {{ project.baseColor }}">
				<div class="image"></div>
				<h2>Quis</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae penatibus nunc eu tellus nec nam ultrices vestibulum neque.</p>
			</div>
		</div>
		<div class="center">
			<div class="center__top">
				<div class="center__top__post">
					<div class="center__top__image"></div>
					<div class="center__top__content">
						<h4>Lorem</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae penatibus nunc eu tellus nec nam ultrices vestibulum neque.</p>
					</div>
				</div>
				<div class="center__top__post">
					<div class="center__top__image"></div>
					<div class="center__top__content">
						<h4>Dolor</h4>
						<p>Neque tempus enim ultrices phasellus cras. Eget etiam sed sed nec viverra tempus nisi mollis eu.</p>
					</div>
				</div>
			</div>
			<div class="center__bottom">
				<div class="center__bottom__row">
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Dolor</p>
						</div>
					</div>
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Dignis</p>
						</div>
					</div>
				</div>
				<div class="center__bottom__row">
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Et</p>
						</div>
					</div>
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Leo</p>
						</div>
					</div>
				</div>
				<div class="center__bottom__row">
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Nunc</p>
						</div>
					</div>
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Magnaor</p>
						</div>
					</div>
				</div>
				<div class="center__bottom__row">
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Nunc</p>
						</div>
					</div>
					<div class="center__bottom__post">
						<div class="center__bottom_post--image"></div>
						<div class="center__bottom_post--tag" style="background-color: {{ project.darkShades}}">
							<p style="color: {{ project.lightShades }}">Magna</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="right">
			<div class="right__row">
				<div class="thn">
					<svg viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M40.625 46.875C45.2656 46.875 48.6063 51.5531 52.1438 56.5031C56.2438 62.2437 60.8937 68.75 68.75 68.75C86.4688 68.75 93.0625 35.0312 93.75 31.25L87.6 30.1313C86.0938 38.3813 79.3562 62.5 68.75 62.5C64.1094 62.5 60.7687 57.8219 57.2312 52.8719C53.1312 47.1313 48.4813 40.625 40.625 40.625C27.5438 40.625 17.3594 63.7625 12.5 77.3812V6.25H6.25V87.5C6.25165 89.1571 6.91067 90.7458 8.08241 91.9176C9.25415 93.0893 10.8429 93.7483 12.5 93.75H93.75V87.5H15.7625C20.4813 71.4281 31.1375 46.875 40.625 46.875Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Lorem</p>
				</div>
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M30 84H8V36H30V84ZM59 12H37V84H59V12ZM88 44H66V84H88V44Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Tristique vel</p>
				</div>
			</div>
			<div class="right__row">
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M60 74C49.96 74 41.28 68.32 36.96 60H60V52H34.32C34.12 50.68 34 49.36 34 48C34 46.64 34.12 45.32 34.32 44H60V36H36.96C41.28 27.68 50 22 60 22C66.44 22 72.36 24.36 76.92 28.28L84 21.2C77.64 15.48 69.2 12 60 12C44.32 12 31.04 22.04 26.08 36H12V44H24.24C24.08 45.32 24 46.64 24 48C24 49.36 24.08 50.68 24.24 52H12V60H26.08C31.04 73.96 44.32 84 60 84C69.24 84 77.64 80.52 84 74.8L76.88 67.72C72.36 71.64 66.48 74 60 74Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Ac mi</p>
				</div>
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M36 44H28V52H36V44ZM52 44H44V52H52V44ZM68 44H60V52H68V44ZM76 16H72V8H64V16H32V8H24V16H20C15.56 16 12.04 19.6 12.04 24L12 80C12 84.4 15.56 88 20 88H76C80.4 88 84 84.4 84 80V24C84 19.6 80.4 16 76 16ZM76 80H20V36H76V80Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Rhoncus accumsan</p>
				</div>
			</div>
			<div class="right__row">
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M76 12H20C15.6 12 12 15.6 12 20V76C12 80.4 15.6 84 20 84H76C80.4 84 84 80.4 84 76V20C84 15.6 80.4 12 76 12ZM56 68H28V60H56V68ZM68 52H28V44H68V52ZM68 36H28V28H68V36Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Feugiat</p>
				</div>
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M80 8H16C11.6 8 8.04 11.6 8.04 16L8 88L24 72H80C84.4 72 88 68.4 88 64V16C88 11.6 84.4 8 80 8ZM52 44H44V20H52V44ZM52 60H44V52H52V60Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Nam</p>
				</div>
			</div>
			<div class="right__row">
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M76 12H20C15.6 12 12 15.6 12 20V76C12 80.4 15.6 84 20 84H76C80.4 84 84 80.4 84 76V20C84 15.6 80.4 12 76 12ZM36 68H28V48H36V68ZM52 68H44V56H52V68ZM52 48H44V40H52V48ZM68 68H60V28H68V68Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Pretium</p>
				</div>
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M44 36H52V24H64V16H52V4H44V16H32V24H44V36ZM28 72C23.6 72 20.04 75.6 20.04 80C20.04 84.4 23.6 88 28 88C32.4 88 36 84.4 36 80C36 75.6 32.4 72 28 72ZM68 72C63.6 72 60.04 75.6 60.04 80C60.04 84.4 63.6 88 68 88C72.4 88 76 84.4 76 80C76 75.6 72.4 72 68 72ZM28.68 59L28.8 58.52L32.4 52H62.2C65.2 52 67.84 50.36 69.2 47.88L84.64 19.84L77.68 16H77.64L73.24 24L62.2 44H34.12L33.6 42.92L24.64 24L20.84 16L17.08 8H4V16H12L26.4 46.36L21 56.16C20.36 57.28 20 58.6 20 60C20 64.4 23.6 68 28 68H76V60H29.68C29.16 60 28.68 59.56 28.68 59Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Aliquam</p>
				</div>
			</div>
			<div class="right__row">
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28 40H16V68H28V40Z" fill="{{ project.baseColor }}"/>
						<path d="M54 40H42V68H54V40Z" fill="{{ project.baseColor }}"/>
						<path d="M88 76H8V88H88V76Z" fill="{{ project.baseColor }}"/>
						<path d="M80 40H68V68H80V40Z" fill="{{ project.baseColor }}"/>
						<path d="M48 4L8 24V32H88V24L48 4Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Massa</p>
				</div>
				<div class="thn">
					<svg viewbox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M76 44H44V68H76V44ZM92 76V19.92C92 15.52 88.4 12 84 12H12C7.6 12 4 15.52 4 19.92V76C4 80.4 7.6 84 12 84H84C88.4 84 92 80.4 92 76ZM84 76.08H12V19.88H84V76.08Z" fill="{{ project.baseColor }}"/>
					</svg>
					<p>Faucibus</p>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="https://kit.fontawesome.com/ebdd806b2b.js" crossorigin="anonymous"></script>
