<div class="graphic">
	<div style="background-color: {{ project.lightShades }}" class="left">
		<div class="left__top">
			<div class="logo">
				<p style="color: {{ project.darkShades }}">Lorem Ipsum</p>
			</div>
		</div>
		<div class="left__bottom">
			<div class="text--main">
				<p style="color: {{ project.darkShades }}">Suspendisse nec nulla ex.</p>
			</div>
		</div>
	</div>
	<div style="background-color: {{ project.darkShades }}" class="right">
		<div class="right__top">
			<div class="navigation">
				<p style="color: {{ project.lightShades }}">sem</p>
				<p style="color: {{ project.lightShades }}">nunc</p>
				<p style="color: {{ project.lightShades }}">quis</p>
				<p style="color: {{ project.lightShades }}">nulla</p>
				<p style="color: {{ project.lightShades }}">non</p>
			</div>
		</div>
		<div class="right__center">
			<div style="background-color: {{ project.baseColor }}" class="circle"></div>
			<div style="background-color: {{ project.lightAccent }}" class="square"></div>
			<div style="border-bottom-color: {{ project.darkAccent }}" class="triangle"></div>
		</div>
		<div class="right__bottom">
			<div class="social">
				<div class="facebook">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-facebook-square fa-4x"></i>
				</div>
				<div class="instagram">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-instagram fa-4x"></i>
				</div>
				<div class="linkedin">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-linkedin fa-4x"></i>
				</div>
				<div class="twitter">
					<i style="color: {{ project.lightShades }}" class="fa-brands fa-twitter-square fa-4x"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://kit.fontawesome.com/ebdd806b2b.js" crossorigin="anonymous"></script>
