{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/editor.css') }}"></link>
	<link rel="stylesheet" href="{{ asset('css/contrast_checker.css') }}"></link>
    <link rel="stylesheet" href="{{ asset('css/product.css') }}"></link>
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="settings">
			<ul class="nav justify-content-center">
				<li class="nav-item justify-content-center">
					<a class="nav-link" href="{{ url('homepage') }}">
			            {{ 'title_app'|trans }}
                    </a>
                    <a class="nav-link" href="{{ url('project_colors_generate', {id: project.id}) }}">
			            {{ 'label_generate_colors'|trans }}
                    </a>
				</li>
			</ul>  

           <form action="{{ url('project_colors_edit', {'id': project.id}) }}" method="GET" class="colors__settings">
                <section class="container__body">
                    <div class="input input--container">
                        <p class="input__input__label">{{ project.rgbToHex(project.lightShades) }}</p>
                        <input class="input__color input__color--foreground input__input input__input__color" type="color" value="{{ project.rgbToHex(project.lightShades) }}" name="lightShades"></input>
                    </div>
                    <div class="input input--container">
                        <p class="input__input__label">{{ project.rgbToHex(project.lightAccent) }}</p>
                        <input class="input__color input__color--foreground input__input input__input__color" type="color" value="{{ project.rgbToHex(project.lightAccent) }}" name="lightAccent"></input>
                    </div>
                    <div class="input input--container">
                        <p class="input__input__label">{{ project.rgbToHex(project.baseColor) }}</p>
                        <input class="input__color input__color--foreground input__input input__input__color" type="color" value="{{ project.rgbToHex(project.baseColor) }}" name="baseColor"></input>
                    </div>
                    <div class="input input--container">
                        <p class="input__input__label">{{ project.rgbToHex(project.darkAccent) }}</p>
                        <input class="input__color input__color--foreground input__input input__input__color" type="color" value="{{ project.rgbToHex(project.darkAccent) }}" name="darkAccent"></input>
                    </div >
                    <div class="input input--container">
                        <p class="input__input__label">{{ project.rgbToHex(project.darkShades) }}</p>
                        <input class="input__color input__color--foreground input__input input__input__color" type="color" value="{{ project.rgbToHex(project.darkShades) }}" name="darkShades"></input>
                    </div>
                    <input type="submit" value="Aktualizuj">
                </section>
                
            </form>   

            {% include 'editor/contrast_checker.html.twig' %}

        </div>
        
		<div class="main-content">

            {% include 'editor/product_template.html.twig' %}

		</div>
	</div>

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.js"></script>
    <script src="{{ asset('js/contrast_checker.js') }}"></script>
    {% endblock %}


{% endblock %}