{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/editor.css') }}"></link>
{% endblock %}

{% block body %}
	<style>
		.square {
            height: 100px;
            width: 100px;
        }
        .circle {
            height: 100px;
	        width: 100px;
        }
		.rectangle0 {
            height: 100px;
            width: 100px;
        }
        .rectangle1 {
            height: 100px;
            width: 100px;
        }
        .rectangle2 {
            height: 100px;
            width: 100px;
        }
        .rectangle3 {
            height: 100px;
            width: 100px;
        }
		.square {
            background-color: {{ project.baseColor }}
            }
        .circle
             {
            background-color: {{ project.color0 }}
            }
        .rectangle0
             {
            background-color: {{ project.color1 }}
            }
        .rectangle1
             {
            background-color: {{ project.color2 }}
            }
        .rectangle2
             {
            background-color: {{ project.color3 }}
            }
	</style>
	<div class="wrapper">
		<div class="settings">
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link" href="{{ url('homepage') }}">
			            {{ 'title_app'|trans }}
                    </a>
                    <a class="nav-link" href="{{ url('project_colors_generate', {id: project.id}) }}">
			            {{ 'lable_generate_colors'|trans }}
                    </a>
                    {# <form action="{{ url('project_colors_edit', {'id': project.id}) }}" method="GET">
                        <input type="color" value="#{{ project.baseColor }}" name="base_color"></input>
                        <buttom type="submit" class="btn btn-primary">Save</button>
                    </form> #}
				</li>
			</ul>
		</div>
		<div class="main-content">
			<div class="graphic">
                <div class="square">
                </div>
                <div class="circle">
                </div>
                <div class="rectangle0">
                </div>
                <div class="rectangle1">
                </div>
                <div class="rectangle2">
                </div>
            </div>
		</div>
	</div>

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

{% endblock %}