<div class="content" style="background-color: {{ project.lightShades }}">
	<div class="left">
		<div class="left__top">
			<div class="logo" style="color: {{ project.darkShades }}">
				<p>maleada</p>
			</div>
		</div>
		<div class="left__bottom">
			<div class="graphic-element">

				<div class="circle" style="background-color: {{ project.darkAccent }};"></div>
				<div class="triangle" style="border-bottom-color: {{ project.lightAccent }};"></div>
				<div class="square" style="background-color: {{ project.baseColor }};"></div>

			</div>
		</div>
	</div>
	<div class="right">
		<div class="right__top">
			<div class="navigation" style = "border-color: {{ project.baseColor }};">
				<p style="color: {{ project.darkShades }}">sem</p>
				<p style="color: {{ project.darkShades }}">nunc</p>
				<p style="color: {{ project.darkShades }}">quis</p>
				<p style="color: {{ project.darkShades }}">nulla</p>
				<p style="color: {{ project.darkShades }}">non</p>
			</div>
		</div>
		<div class="right__center">
			<div class="center__text" style="color: {{ project.darkShades }}; ">
				<p>Lorem ipsum dolor, consectetur.</p>
				<p>Nibh magna ut consectetur massa congue eget. Id scelerisque ut diam egestas sagittis venenatis, aliquam varius. Eu consectetur neque elit eu.</p>
			</div>
		</div>
		<div class="right__bottom">
			<div class="social">
				<div class="facebook">
					<i style="color: {{ project.darkShades }}" class="fa-brands fa-facebook-square fa-3x"></i>
				</div>
				<div class="instagram">
					<i style="color: {{ project.darkShades }}" class="fa-brands fa-instagram fa-3x"></i>
				</div>
				<div class="linkedin">
					<i style="color: {{ project.darkShades }}" class="fa-brands fa-linkedin fa-3x"></i>
				</div>
				<div class="twitter">
					<i style="color: {{ project.darkShades }}" class="fa-brands fa-twitter-square fa-3x"></i>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="https://kit.fontawesome.com/ebdd806b2b.js" crossorigin="anonymous"></script>
