{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

	<a class="" href="{{ url('homepage') }}">
		{{ 'title_app'|trans }}
	</a>


	<form action="{{ url('generator') }}" method="get">
		<input type="color" name="color1">
		<input type="color" name="color2">	
		<input type="submit">
	</form>

	{# {{ color }} #}


{% endblock %}
