{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title_project'|trans }}
{% endblock %}

{% block body %}
	{% for project in projects %}
		{{ project.title }}
		<a href="{{ url('project_show', {id: project.id}) }}" title="{{ 'action_view'|trans }}">
			{{ 'action_view'|trans }}
		</a>
		<a href="{{ url('project_edit', {id: project.id}) }}" title="{{ 'action_edit'|trans }}">
			{{ 'action_edit'|trans }}
		</a>
		<a href="{{ url('project_delete', {id: project.id}) }}" title="{{ 'action_delete'|trans }}">
			{{ 'action_delete'|trans }}
		</a>
		<br>
	{% endfor %}
{% endblock %}
